@media (max-width: 1050px) {

#location {
  background-color: $dark-grey;
  -webkit-box-shadow: inset 0 20px 20px -35px rgba(0,0,0,0.8);
  -moz-box-shadow: inset 0 20px 20px -35px rgba(0,0,0,0.8);
  figure {
    display: flex;
    justify-content: center;
    align-items: baseline;
    i {
      margin-right: 20px;
    }
    p {
      font-family: Roboto, cursive;
    }
  }
}

#booking {
  background-color: $light-grey;
  font-family: Roboto, cursive;
  padding: 50px 0px 50px 0px;
  text-align: center;
  h1 {
    margin: 0px;
    padding-right: 50px;
    padding-left: 50px;
    font-size: 25px;
  }
  p {
    font-weight: 300;
    font-size: 18px;
  }
}

.function {
  font-family: Roboto, cursive;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 5% 20px 5%;
  div {
    position: absolute;
    left: -14px;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    text-align: center;
    padding-top: 5px;
    color: white;
    background-color: $primary;
  }
  i {
    position: absolute;
    left: 30px;
    width: 20px;
  }
  figcaption {
    width: 200px;
    align-self: center;
  }
}

.restaurants {
  background-color: $light-grey;
  font-family: Roboto, cursive;
  margin-top: 40px;
  padding: 40px 5% 60px 5%;
  .restaurants-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    grid-gap: 20px;
  }
  .restaurant-card {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 5px lightgrey;
    &-img {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    img {
      width: 100%;
      height: 175px;
      object-fit: cover;
    }
    div {
      width: 80px;
      height: 30px;
      background-color: $tertiary;
      color: $tertiary-dark;
      border-radius: 2px;
      position: absolute;
      top: 10px;
      right: 10px;
      padding-top: 6px;
      text-align: center;
    }
    figcaption {
      padding: 0px 10px 0px 10px;
      display: flex;
      flex-direction: column;
      position: relative;
      h3 {
        margin-top: 10px;
        margin-bottom: 5px;
      }
      p {
        margin-top: 0px;
        font-weight: 300;
      }
      i {
        position: absolute;
        top: 12px;
        right: 20px;
        font-size: 25px;
        &:hover {
          color: purple;
        }
      }
    }
  }
}

main {
  position: relative;
}

.banner-img {
  width: 100%;
}

.menu {
  background-color: $light-grey;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  font-family: Roboto, cursive;
  width: 100%;
  position: relative;
  top: -50px;
  margin-bottom: -50px;
  padding-bottom: 60px;
  &__header {
    display: flex;
    justify-content: space-around;
    font-family: Shrikhand, cursive;
    h1 {
      font-size: 28px;
      left: 20px;
    }
    i {
      font-size: 28px;
      align-self: center;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
    padding: 60px 10px 0px 10px;
    margin-bottom: 35px;
    h2 {
      font-size: 19px;
      font-weight: 300;
      margin-top: 0px;
      margin-bottom: -15px;
    }
    .underline {
      width: 50px;
      height: 4px;
      background-color: $tertiary;
      margin-top: 0px;
    }
  }
}

}
