* {
  box-sizing: border-box;
}

figure {
  margin: 0;
}

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: $primary-light;
  animation: hideMe 3s forwards;
  @keyframes hideMe{
    0%{
        opacity: 1;
    }
    99.99%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        visibility: hidden;
    }
  }
  .loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    .fa-utensils {
      display: block;
      width: 100px;
      margin: auto;
      font-size: 100px;
      color: $primary;
      background: linear-gradient(to right, $primary 16.6%, $secondary 49.9%, $tertiary 83.33%, $primary 100%);
      background-size: 200% auto;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: shine 2s linear infinite;
      @keyframes shine {
        to {
          background-position: 200% center;
        }
      }
    }
  }
}

header, .loader, .location, .booking, .function, .restaurants, .menu__header, .menu__items, .footer {
  max-width: 1600px;
  margin: auto;
}

a, a:visited {
  text-decoration: none;
  color: black;
}

.restaurant-card {
  position: relative;
  transform: rotate(0);
}

.lien-etendu a::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background-color: rgba(0,0,0,0);
}
