#location {
  width: 100%;
  background-color: $dark-grey;
  -webkit-box-shadow: inset 0 20px 20px -35px rgba(0,0,0,0.8);
  -moz-box-shadow: inset 0 20px 20px -35px rgba(0,0,0,0.8);
  figure {
    display: flex;
    justify-content: center;
    align-items: baseline;
    i {
      margin-right: 20px;
    }
    p {
      font-family: Roboto, cursive;
    }
  }
}

#booking {
  background-color: $light-grey;
  font-family: Roboto, cursive;
  padding: 50px 0px 50px 0px;
  text-align: center;
  h1 {
    margin: 0px;
    padding-right: 50px;
    padding-left: 50px;
    font-size: 25px;
  }
  p {
    font-weight: 300;
    font-size: 18px;
  }
}

.function {
  font-family: Roboto, cursive;
  padding: 20px 5% 20px 5%;
  @media (max-width: 1050px) {
    .function {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
  .tiles {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
  position: relative;
    div {
      position: absolute;
      left: -14px;
      width: 25px;
      height: 25px;
      border-radius: 25px;
      text-align: center;
      padding-top: 5px;
      color: white;
      background-color: $primary;
    }
    i {
      position: absolute;
      left: 20px;
      width: 20px;
      @media (max-width: 1050px) {
        i {
          left: 30px;
        }
      }
    }
    figcaption {
      align-self: center;
      @media (max-width: 1050px) {
          figcaption {
            width: 200px;
          }
        }
    }
  }
}

#restaurants {
  background-color: $light-grey;
}

.restaurants {
  font-family: Roboto, cursive;
  margin-top: 40px;
  padding: 40px 5% 60px 5%;
  .restaurants-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    grid-gap: 20px;
    @media (max-width: 1050px) {
      .restaurants-cards {
        justify-content: space-around;
      }
    }
  }
  .restaurant-card {
    width: 23%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 5px lightgrey;
    @media (max-width: 1050px) {
      width: 100%;
    }
    &-img {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    img {
      width: 100%;
      height: 175px;
      object-fit: cover;
    }
    .new {
      width: 80px;
      height: 30px;
      background-color: $tertiary;
      color: $tertiary-dark;
      border-radius: 2px;
      position: absolute;
      top: 10px;
      right: 10px;
      padding-top: 6px;
      text-align: center;
    }
    figcaption {
      padding: 0px 10px 0px 10px;
      display: flex;
      flex-direction: column;
      position: relative;
      @include heart-animation-index;
      h3 {
        margin-top: 10px;
        margin-bottom: 5px;
      }
      p {
        margin-top: 0px;
        font-weight: 300;
      }
    }
  }
}
